.box1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px 40px 10px;
    background-color: white;
}

.frontpage
{
    width:100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.frontpage-bottom
{
    width:100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pic
{
    width:400px;
}

.frontpage img
{
   width:100%;
   height: auto;
}
.frontpage-bottom img
{
   width:100%;
   height: auto;
}

.text
{
    text-align: center;
    display: flex;
    flex-direction: column;
    width:600px;
    line-height: 25px;
    justify-content: center;
}

.text p
{
    padding-top:20px ;
}

.text h2
{
    font-weight: normal;
}
