.box1
{
    width: 100%;
}

.boks1
{
    border:1px solid red;
    width: 100%;
    height:700px;
    background-image: url("../inova1.jpg");
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.forsideLogoboks
{
    border:1px ;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.781);
    
}

.forsideLogoboks
{
    color: white;
    font-size: 100px;
    text-align: center;
}

.undertekstlogo
{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.329);
}



.bioboks
{
    display:flex;
 
}

.biografi
{
    color: black;
    padding: 70px;
    margin-left: 50px;
    width: 50%;
    line-height: 40px;
    font-size: 18px; 

}

.biografi1
{
    color: black;
    padding: 50px;
    margin:50px;
    width: 50%;
    line-height: 40px;
    font-size: 18px; 

}

.biobilde
{
    padding: 40px;
    width: 50%;
    margin-left: 90px;
    margin-top: 90px;
}

.biobilde1
{
    padding: 40px;
    width: 50%;
    margin-left: 90px;
    margin-top: 70px;;
}
