.box2
{
    background-color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.header p
{
    color:#d8d5e2;
    font-size: 22px;
    padding-bottom: 30px;
}

.list 
{
    width: 80%;
}

.event
{
    text-align: center;
}

.list .event 
{
    padding: 1rem 3rem;
}

.list span.date
{
    
    color: #6F6CB6;

}

.event p
{
    padding-top: 10px;

}