.box3
{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*flexbox*/
.wrapper-content-vegard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}
.staff {
    border: 5px solid white;
    background-color: white;
    padding-bottom: 10px;
    margin-top: 30px;
    padding: 5px;
}
.staff a {
    text-decoration: none;
}
.staff img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}
.imgtext {
    text-align: center;
    
    margin-top: 10px;
    font-size: 1.5em;
}

